body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* Bootsrtap carousel */
 .carousel-inner img {
    height: 100%;
    width: 100%;
  }





/* End Bootsrtap carousel */


.homesquare {   
	background-image:linear-gradient(0deg, rgba(196.4800089597702, 248.0000004172325, 86.9999948143959, 1) 0%,rgba(255, 98.01999628543854, 87.99999475479126, 1) 100%) ;
	width:1430px;
	height:805px;
	position:absolute;
	left:0px;
	top:-21px;
	clip-path: polygon(100% 0, 0 0, 0 100%);  /* Code for the cut */
}

.my_img{
    width: 100%;
    height: auto; 
  }

    

/* About page styling */

.body {
  font-family: sans-serif;
  margin: 0;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey !important; 
}




.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}





/* Footer styling */

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* End Footer styling */






/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}






*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}



.button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
  }
}

.col-sm-6 {
    
    background-color: #474e5d;
  color: white;
    text-align: center; 
    padding: 10px;
   
}







.col-sm-5

{
    
     background-color: #F9F7F6;
    text-align: center; 
    padding: 10px;
    
}













/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}







.about

{
width: 75%;
 border: 5px solid #111;
}



.col-sm-8 {
  background: #f1f3ffff;
  margin: 5px;
}


.para {
    
    font-weight: lighter;
}



/* New Navigation */

/* General */

.nav{
  background-color:white;
}

a {
  font-size: 11px;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

a {
  color: black;
}

* {
  border-radius: 0 !important;
}

/* Navbar */
.navbar-brand {
  margin-left: 4em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.09em;
}

/*.navbar-nav {
  margin-right: 4em;
}*/

.navbar-primary {
  justify-content: flex-end;
  margin: auto 4rem;
}

.navbar-primary .nav-item {
  margin: 0 0.5rem;
}

.navbar .navbar-nav .nav-link {
  color: black;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/*.navbar-nav span {
  margin-right: 1rem;
  margin-left: 2rem;
}*/

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  color: black;
}

.nav-item {
  position: relative;
}

/*.nav-item:after {
  content: "/";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}*/

.navbar-primary .nav-item:after {
  content: "/";
  position: absolute;
  top: 0.25rem;
  left: auto;
  right: -0.5rem;
}

.navbar-primary .nav-item:last-child:after {
  content: none;
}

.navbar-primary .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}

.navbar-primary .nav-link:hover:before {
  width: calc(100% - 1rem);
}

.nav-social-icon {
  font-size: 16px;
}



.logo {
  padding-left: 50px;
}

@media (max-width: 766px) {
  .logo
  {
    padding-left: 0px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
    
  }
}


.our {
  color : #cc1100;
  font-size: 60px;
}