nav {
	background: #4a536e !important; 
}

ul {
	background-color: #4a536e !important;
}

h1 {
	color: #fff !important;
}





body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
  }

  
  
 
 
 
 
 
  /* Navagation */

.nav{
	background-color:white;
  }
  
  a {
	font-size: 11px;
	text-decoration: none !important;
	color:white;
  }
  
  a:hover {
	color: white;
  }
  
  a {
	color: white;
  }
  
  * {
	border-radius: 0 !important;
  }
  


  
  /* Navbar */
  .navbar-brand {
	margin-left: 4em;
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.09em;
  }
  
  span {
color: #ddd;

} 

  .navbar-primary {
	justify-content: flex-end;
	margin: auto 4rem;
  }
  
  .navbar-primary .nav-item {
	margin: 0 0.5rem;
  }
  
  .navbar .navbar-nav .nav-link {
	letter-spacing: 0.15em;
	text-transform: uppercase;
  }
  
  .custom-toggler.navbar-toggler {
	border-color: transparent;
  }
  
  .custom-toggler .navbar-toggler-icon {
	color: white;
  }
  
  .nav-item {
	position: relative;
  }
  
  .navbar-primary .nav-item:after {
	content: "/";
	position: absolute;
	top: 0.25rem;
	left: auto;
	right: -0.5rem;
  }
  
  .navbar-primary .nav-item:last-child:after {
	content: none;
  }
  
  .navbar-primary .nav-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	width: 0%;
	border-bottom: 1px solid black; /*Line under link*/
	transition: 0.4s;
  }
  
  .navbar-primary .nav-link:hover:before {
	width: calc(100% - 1rem);
  }
  
  .nav-social-icon {
	font-size: 16px;
  }
  
  
  
  .logo {
	padding-left: 50px;
  }
  
  @media (max-width: 766px) {
	.logo
	{
	  padding-left: 0px;
	  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	  
	  
	}
  }
